.apply-hot-mobile {
  position: fixed;
  bottom: 67px;
  right: 27px;
  z-index: 2;
  a {
    background: linear-gradient(-90deg, #bb0c03, #ff1c10);
    color: yellow;
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
  }
}

.apply-hot-desktop {
  position: fixed;
  bottom: 135px;
  right: 27px;
  z-index: 2;
  a {
    background: linear-gradient(-90deg, #bb0c03, #ff1c10);
    color: yellow;
    padding: 20px;
    //border: 1px solid red;
    border-radius: 5px;
    font-weight: bold;
  }
}