#h_2{
  #fe_h_ttct h4 {
    font-size: 22px;
    font-weight: 600;
  }

  #fe_h_ttct p {
    color: #878a8b;
    line-height: 19px;
  }

  #fe_h_ttthem p {
    font-size: 20px;
    padding-top: 10px;
    color: #015b8e;
    line-height: 23px;
  }
}