#h_2 {
  h4 {
    font-size: 22px;
    font-weight: 600;
  }
  p {
    color: #878a8b;
    line-height: 19px;
  }
  .mr-td:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #0d95e8;
    left: 0;
    top: -1px;
  }
  .statistics p {
    font-size: 20px;
    padding-top: 10px;
    color: #015b8e;
    line-height: 23px;
  }
  .description p{
    line-height: 1.5;
  }
}

.img-mr-tuyendung{
  border: 5px solid rgba(255,255,255,0.9);position: absolute;width: 86%;height: 80%;left: 7%;top: 4.5%;
}